ion-view(title="Login")
  ion-content
    form(ng-submit="login.nativeLogin()")
      ion-list(ng-hide="login.isSignedIn")
        label.item.item-input
          span.input-label Username
          input(type="text" ng-model="login.username")

        label.item.item-input
          span.input-label Password
          input(type="password" ng-model="login.password")

      button.button.assertive.button-block(ng-click="login.loginModal.hide()" ng-hide="login.isSignedIn") Login
    div.button-bar(ng-hide="login.isSignedIn")
      button.button.button-block.button-assertive(ng-click="login.signupModal.show()") Create Account
      button.button.button-block.button-facebook-style(ng-click="login.fbLoginFlow()") Facebook Login

    button.button.button-block.assertive(ng-click="login.nativeLogout()" ng-show="login.isSignedIn") Logout

    div.login-status.assertive(ng-model="login.statusMessage" style="text-align: center") {{login.statusMessage}}
