ion-tabs.tabs-icon-top.tabs-default

  ion-tab(title='Find', icon='icon ion-ios7-search', href='#/tab/find')
    ion-nav-view(name='tab-find')

  ion-tab(title='Nearby', icon='icon ion-ios7-home', href='#/tab/nearby')
    ion-nav-view(name='tab-nearby')

  //- ion-tab(title='Review', icon='icon ion-ios7-camera', href='#/tab/review')
  ion-tab(title='Review', icon='icon ion-ios7-camera', href='#/tab/review' on-select="takePhoto()")
    ion-nav-view(name='tab-review')

  ion-tab(title='List', icon='icon ion-ios7-contact', href='#/tab/list')
    ion-nav-view(name='tab-list')

  ion-tab(title='Settings', icon='icon ion-ios7-cog-outline', href='#/tab/settings')
    ion-nav-view(name='tab-settings')
