ion-tabs.tabs-icon-top.tabs-default

  ion-tab(title='Find', icon='icon ion-ios7-search', href='#/tab/items')
    ion-nav-view(name='tab-items')

  ion-tab(title='Menus', icon='icon ion-ios7-home', href='#/tab/menus')
    ion-nav-view(name='tab-menus')

    //- ion-tab(title='Review', icon='icon ion-ios7-camera', href='#/tab/review' on-select="takePhoto()")
  ion-tab(title='Review', icon='icon ion-ios7-camera', href='#/tab/review')
    ion-nav-view(name='tab-review')

  ion-tab(title='List', icon='icon ion-bookmark', href='#/tab/list')
    ion-nav-view(name='tab-list')

  ion-tab(title='Settings', icon='icon ion-ios7-contact-outline', href='#/tab/settings')
    ion-nav-view(name='tab-settings')
