@import "ionic";

body {
  background-color: gray;
}

.card, .list-inset {
  margin: 5px 5px;
}

.bg-grey { background-color: #f1f1f1; background: #f1f1f1;}
.bg-white { background-color: #ffffff; background: #ffffff; }
.bg-yellow { background-color: yellow; background: yellow; }
.bg-orange { background-color: rgb(241, 204, 9); background: rgb(241, 204, 9); }

.item-divider{
  background-color: #f1f1f1;
  background: #f1f1f1;
}

a.menu-card {
  width: 50%;
  margin: 0;
  padding:5px;
  float: left;
  text-decoration: none;
}
a.menu-card .menu-card-content {
  min-height: 270px;
  background-color: #ffffff;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0,0,0,.3);
  -webkit-box-shadow: 0px 2px 4px rgba(0,0,0,.3);
}
a.menu-card img {
  width: 100%;
  margin: 0;
  padding: 0;
}
a.menu-card .menu-card-footer{
  color: #000000;
  padding: 5px;
}
a.menu-card .item.item-divider{
  color: #000000;
  background-color: #fff;
  padding: 5px;
  text-align: center;
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.bin {
  min-height: 150px;
  min-width: 150px;
  float: left;
  border: 1px solid red;
  padding: 20px;
}
.item-drag {
  min-height: 150px;
  min-width: 150px;
  background: blue;
  float: right;
}
.drag {
  opacity: 0.5;
}
.over {
  background: red;
}

.circle-container {
  margin-top:30%;
  width:100%;
  background-color: #DDD;
  position:absolute;
}
.circle-container .circle {
  float: left;
  width: 80px;
  height: 80px;
  // margin:10px;
  position: absolute;
  text-align: center;
  vertical-align: center;
  font-size:50px;
  // background-color:white;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  box-shadow: 0 2px 4px rgba(0,0,0,.3);
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.3);


}
.circle-container .circle:nth-child(1) {
  left:10px;
  top: 20px;
}
.circle-container .circle:nth-child(2) {
  left:39%;
}
.circle-container .circle:nth-child(3) {
  right:10px;
  top: 20px;
}
.circle-container .circle i {
  margin:0;
  margin-top:18%;
}
.circle-container .circle p {
  display: block;
  margin-top:20px;
  font-size:12px;
}
.circle-container .circle.bg-orange i {
  color:white;
}

.pullright {
  float: right;
}



.text-left {
  float: left;
  text-align: left;
}

.text-right {
  float: right;
  text-align: right;
}


.menu-banner {
  position:relative;
}

.menu-banner-right {
  width:50%;
  height:200px;
  float: left;

}
.menu-banner-right {
  width:50%;
  height:200px;
  float: left;

}
.borderless {
  border-width: 0px;
}

#map {
  width: 100%;
  height: 100%;
}
#mapper {
  width: 50%;
  height: 50%;
}
#nearbyMap {
  width: 100%;
  height: 100%;
}
#findMap {
  width: 100%;
  height: 100%;
}
#map_canvas {
  width: 100%;
  height: 100%;
}

.scroll {
  height: 100%;
}

.ion-google-place-container{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 20;
    display: none;

}


input.ion-google-place[readonly]{
    background-color: transparent;
    padding: 5px;

}


// .angular-google-map-container { height: 400px; width:50%; }
