@import "ionic";

@font-face {
  font-family: 'plateful-icon';
  src: url('fonts/plateful-icon.eot');
}
@font-face {
  font-family: 'plateful-icon';
  src: url(data:application/x-font-ttf;charset=utf-8;base64,AAEAAAALAIAAAwAwT1MvMggi/LgAAAC8AAAAYGNtYXAaVcxZAAABHAAAAExnYXNwAAAAEAAAAWgAAAAIZ2x5Zrdjh5gAAAFwAAAB4GhlYWQBmlTbAAADUAAAADZoaGVhBCgCfQAAA4gAAAAkaG10eAi/AdEAAAOsAAAAHGxvY2EAigFKAAADyAAAABBtYXhwAA0AXwAAA9gAAAAgbmFtZbqVvRIAAAP4AAABe3Bvc3QAAwAAAAAFdAAAACAAAwIAAZAABQAAAUwBZgAAAEcBTAFmAAAA9QAZAIQAAAAAAAAAAAAAAAAAAAABEAAAAAAAAAAAAAAAAAAAAABAAADmAgHg/+D/4AHgACAAAAABAAAAAAAAAAAAAAAgAAAAAAACAAAAAwAAABQAAwABAAAAFAAEADgAAAAKAAgAAgACAAEAIOYC//3//wAAAAAAIOYA//3//wAB/+MaBAADAAEAAAAAAAAAAAAAAAEAAf//AA8AAQAAAAAAAAAAAAIAADc5AQAAAAABAAAAAAAAAAAAAgAANzkBAAAAAAEAAAAAAAAAAAACAAA3OQEAAAAAAwCwABIB5QGkAAQACQASAAATFxMnEycTFxMnMyMXIRMjFzMTvKsBrQENAcMBxQEBGwEMAW4BegEBkFj+71gBERT+02UBLmQP/twPAUIAAAACANIASwHDAY4ABQALAAAlJwcTMxMnFwMjAzcBw3h5AfABem0B1gFsS1BQAUP+vV9IASD+4EgAAAUATwBKAkYBggATACcALAA7AFwAAAEiBgcOARcGFiMhIjYnNiYnLgEjFyEyJjMmNjc+ATMyFhceARciFiMFIRchNyUzLgEnLgEjBzIWFx4BFycmNCc+ATMyFgcWBhUzNiY3LgEnLgEjIgYHDgEXBhYVMwFKMVYhHyYBAQEBAdoBAQEBJh8hVjLg/kMBAQEBIx4fUC8tUh0fIgEBAQH+JwH2Af4IAQGqDgMYFhM5HwEhMRMRFgO8AgEBCAcGCgEBAgoCAQEBAwQDCgUGCAUCBQEBAQwBYiUgIFYxAQsLATFWICAl6wEuUR4eIyMeHlEuASEMDCApSRsbHw4eGRlEJeoCBAIHCQkHAgQCAgQCBQoDAwUEBAMKBQIEAgAAAQAAAAEAAPcbQ1xfDzz1AAsCAAAAAADQGwodAAAAANAbCh0AAAAAAkYBpAAAAAgAAgAAAAAAAAABAAAB4P/gAAAClQAAAAACRgABAAAAAAAAAAAAAAAAAAAABwAAAAAAAAAAAAAAAAEAAAAClQCwApUA0gKVAE8AAAAAAAoAFAAeAEYAYgDwAAEAAAAHAF0ABQAAAAAAAgAAAAAAAAAAAAAAAAAAAAAAAAAOAK4AAQAAAAAAAQAaAAAAAQAAAAAAAgAOAHEAAQAAAAAAAwAaADAAAQAAAAAABAAaAH8AAQAAAAAABQAWABoAAQAAAAAABgANAEoAAQAAAAAACgA0AJkAAwABBAkAAQAaAAAAAwABBAkAAgAOAHEAAwABBAkAAwAaADAAAwABBAkABAAaAH8AAwABBAkABQAWABoAAwABBAkABgAaAFcAAwABBAkACgA0AJkAcABsAGEAdABlAGYAdQBsAC0AaQBjAG8AbgBWAGUAcgBzAGkAbwBuACAAMQAuADAAcABsAGEAdABlAGYAdQBsAC0AaQBjAG8AbnBsYXRlZnVsLWljb24AcABsAGEAdABlAGYAdQBsAC0AaQBjAG8AbgBSAGUAZwB1AGwAYQByAHAAbABhAHQAZQBmAHUAbAAtAGkAYwBvAG4ARgBvAG4AdAAgAGcAZQBuAGUAcgBhAHQAZQBkACAAYgB5ACAASQBjAG8ATQBvAG8AbgAuAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA) format('truetype'),
     url(data:application/font-woff;charset=utf-8;base64,d09GRk9UVE8AAAWkAAoAAAAABVwAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABDRkYgAAAA9AAAAd4AAAHeoNrDY09TLzIAAALUAAAAYAAAAGAIIvy4Y21hcAAAAzQAAABMAAAATBpVzFlnYXNwAAADgAAAAAgAAAAIAAAAEGhlYWQAAAOIAAAANgAAADYBmlTbaGhlYQAAA8AAAAAkAAAAJAQoAn1obXR4AAAD5AAAABwAAAAcCL8B0W1heHAAAAQAAAAABgAAAAYAB1AAbmFtZQAABAgAAAF7AAABe7qVvRJwb3N0AAAFhAAAACAAAAAgAAMAAAEABAQAAQEBDnBsYXRlZnVsLWljb24AAQIAAQA6+BwC+BsD+BgEHgoAGVP/i4seCgAZU/+LiwwHi2v5Kfh0BR0AAACUDx0AAACZER0AAAAJHQAAAdUSAAgBAQ4bHR8iJywxcGxhdGVmdWwtaWNvbnBsYXRlZnVsLWljb251MHUxdTIwdUU2MDB1RTYwMXVFNjAyAAACAYkABQAHAgABAAQABwAKAA0ASwB1ASr8lA78lA78lA77lA73KfdQ+CQV90Azi/ul+0Dji/elBX+fFYv7wfdYJov3wvtY7wWLixWLi6V896GLi/u4+wGLi3z3D4uL99YFDvcp+FfWFfsN2/sMO4v31/eFi4v71wX7DeoV9wBDi/e0+2uLi/u09tMFDvcp99739hX7FoshIYv7FouKi4CLiwj4bYsFi4uLlouMi/cWIfX7F4sI93P7fxX8UIsFi4yLi4uLi/cP7u73D4v3D4vuKIv7D4uLi4uLigj8bmoV+IuLi3/8i4uLlwX4P6sVmIsFhvcCSuQ1iwiLfQXfi702lCcI+1H3fhWKjoqOi42LlJKSk4uUi5KEi4KLiYqIiogIlosFjI6LjYuOi5mAl3yLfYuAf4t9i4iLiYyICJaLBQ74lBT4lBWLDAoAAAADAgABkAAFAAABTAFmAAAARwFMAWYAAAD1ABkAhAAAAAAAAAAAAAAAAAAAAAEQAAAAAAAAAAAAAAAAAAAAAEAAAOYCAeD/4P/gAeAAIAAAAAEAAAAAAAAAAAAAACAAAAAAAAIAAAADAAAAFAADAAEAAAAUAAQAOAAAAAoACAACAAIAAQAg5gL//f//AAAAAAAg5gD//f//AAH/4xoEAAMAAQAAAAAAAAAAAAAAAQAB//8ADwABAAAAAQAAZo9xiF8PPPUACwIAAAAAANAbCh0AAAAA0BsKHQAAAAACRgGkAAAACAACAAAAAAAAAAEAAAHg/+AAAAKVAAAAAAJGAAEAAAAAAAAAAAAAAAAAAAAHAAAAAAAAAAAAAAAAAQAAAAKVALAClQDSApUATwAAUAAABwAAAAAADgCuAAEAAAAAAAEAGgAAAAEAAAAAAAIADgBxAAEAAAAAAAMAGgAwAAEAAAAAAAQAGgB/AAEAAAAAAAUAFgAaAAEAAAAAAAYADQBKAAEAAAAAAAoANACZAAMAAQQJAAEAGgAAAAMAAQQJAAIADgBxAAMAAQQJAAMAGgAwAAMAAQQJAAQAGgB/AAMAAQQJAAUAFgAaAAMAAQQJAAYAGgBXAAMAAQQJAAoANACZAHAAbABhAHQAZQBmAHUAbAAtAGkAYwBvAG4AVgBlAHIAcwBpAG8AbgAgADEALgAwAHAAbABhAHQAZQBmAHUAbAAtAGkAYwBvAG5wbGF0ZWZ1bC1pY29uAHAAbABhAHQAZQBmAHUAbAAtAGkAYwBvAG4AUgBlAGcAdQBsAGEAcgBwAGwAYQB0AGUAZgB1AGwALQBpAGMAbwBuAEYAbwBuAHQAIABnAGUAbgBlAHIAYQB0AGUAZAAgAGIAeQAgAEkAYwBvAE0AbwBvAG4ALgAAAwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==) format('woff');
  font-weight: normal;
  font-style: normal;
}

.plateful {
  font-family: 'plateful-icon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.plateful-menus:before {
  content: "\e600";
}
.plateful-bookmarks:before {
  content: "\e601";
}
.plateful-dish:before {
  content: "\e602";
}


body {
  background-color: gray;
}

.card, .list-inset {
  margin: 5px 5px;
}

.bg-grey { background-color: #f1f1f1; background: #f1f1f1;}
.bg-white { background-color: #ffffff; background: #ffffff; }
.bg-yellow { background-color: yellow; background: yellow; }
.bg-orange { background-color: rgb(241, 204, 9); background: rgb(241, 204, 9); }

.item-divider{
  background-color: #f1f1f1;
  background: #f1f1f1;
}

a.menu-card {
  width: 50%;
  margin: 0;
  padding:5px;
  float: left;
  text-decoration: none;
}
a.menu-card .menu-card-content {
  min-height: 270px;
  background-color: #ffffff;
  background: #ffffff;
  border-style: solid;
  border-color:rgba(0,0,0,.12);
  border-width: 0px 1px 1px 0px;
  // border: 1px solid rgba(0,0,0,.12);
  // box-shadow: 0px 2px 4px rgba(0,0,0,.3);
  // -webkit-box-shadow: 0px 2px 4px rgba(0,0,0,.3);
}
a.menu-card img {
  width: 100%;
  position:relative;
  margin: 0px;
  // margin-right: -8px;
  padding: 0;
}
a.menu-card .menu-card-footer{
  color: #000000;
  padding: 5px;
}
a.menu-card .item.item-divider{
  color: #000000;
  background-color: #fff;
  padding: 5px;
  text-align: center;
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.bin {
  min-height: 150px;
  min-width: 150px;
  float: left;
  border: 1px solid red;
  padding: 20px;
}
.item-drag {
  min-height: 150px;
  min-width: 150px;
  background: blue;
  float: right;
}
.drag {
  opacity: 0.5;
}
.over {
  background: red;
}

.circle-container {
  margin-top:30%;
  width:100%;
  background-color: #DDD;
  position:absolute;
}
.circle-container .circle {
  float: left;
  width: 80px;
  height: 80px;
  // margin:10px;
  position: absolute;
  text-align: center;
  vertical-align: center;
  font-size:50px;
  // background-color:white;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  box-shadow: 0 2px 4px rgba(0,0,0,.3);
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.3);


}
.circle-container .circle:nth-child(1) {
  left:10px;
  top: 20px;
}
.circle-container .circle:nth-child(2) {
  left:39%;
}
.circle-container .circle:nth-child(3) {
  right:10px;
  top: 20px;
}
.circle-container .circle i {
  margin:0;
  margin-top:18%;
}
.circle-container .circle p {
  display: block;
  margin-top:20px;
  font-size:12px;
}
.circle-container .circle.bg-orange i {
  color:white;
}

.pullright {
  float: right;
}



.text-left {
  float: left;
  text-align: left;
}

.text-right {
  float: right;
  text-align: right;
}


.menu-banner {
  position:relative;
}

.menu-banner-right {
  width:50%;
  height:200px;
  float: left;

}
.menu-banner-right {
  width:50%;
  height:200px;
  float: left;

}
.borderless {
  border-width: 0px;
}

#map {
  width: 100%;
  height: 100%;
}
#mapper {
  width: 50%;
  height: 50%;
}
#nearbyMap {
  width: 100%;
  height: 100%;
}
#findMap {
  width: 100%;
  height: 100%;
}
#map_canvas {
  width: 100%;
  height: 150px;
  margin:0px;
  position: relative;
}

.scroll {
  height: 100%;
}


.angular-google-map-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

input.ion-google-place[readonly]{
    background-color: transparent;
    padding: 5px;

}


// .angular-google-map-container { height: 400px; width:50%; }

//
// .item.item-complex, a.item-complex, .item.item-content, .item-content {
//   padding: 0px;
// }


.bar {
  box-shadow: 0px 1px 2px rgba(0,0,0,.2);
  -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,.2);
}


// Facebook Style
$facebook:                       #3B5998 !default;
$button-facebook-bg:             $facebook !default;
$button-facebook-text:           #fff !default;
$button-facebook-border:         darken($facebook, 15%) !default;
$button-facebook-active-bg:      darken($facebook, 15%) !default;
$button-facebook-active-border:  darken($facebook, 15%) !default;

.button-facebook-style {
  @include button-style($button-facebook-bg, $button-facebook-border, $button-facebook-active-bg, $button-facebook-active-border, $button-facebook-text);
  @include button-clear($button-facebook-bg);
  @include button-outline($button-facebook-bg);
}

.facebook-style, a.facebook-style {
  color: $facebook;
}
.facebook-style-bg {
  background-color: $facebook;
}
.facebook-style-border {
  border-color: $button-facebook-border;
}



.tab-item.tab-item-active,
.tab-item.active,
.tab-item.activated {
  color: #fc3d39;
}

.button.button-option {
  background-color: #ffffff;
  background: #ffffff;
  color: #b2b2b2;
  border-right: 1px solid #dedede;
  border-left: none;
  border-top:none;
  border-bottom:none;
}
.button.button-option.active {
  background-color: #ffffff;
  background: #ffffff;
  color: #fc3d39;
}


