@import "ionic";



@font-face {
  font-family: 'plateful-icon';
  src: url('fonts/plateful-icon.eot');
}
@font-face {
  font-family: 'plateful-icon';
  src: url(data:application/x-font-ttf;charset=utf-8;base64,AAEAAAALAIAAAwAwT1MvMggi/OgAAAC8AAAAYGNtYXDmbeaQAAABHAAAAFRnYXNwAAAAEAAAAXAAAAAIZ2x5ZqlDFsAAAAF4AAAIbGhlYWQCFJujAAAJ5AAAADZoaGVhBKwC2QAAChwAAAAkaG10eBPrAFwAAApAAAAANGxvY2EJ3gyEAAAKdAAAABxtYXhwABMApwAACpAAAAAgbmFtZbqVvRIAAAqwAAABe3Bvc3QAAwAAAAAMLAAAACAAAwIAAZAABQAAAUwBZgAAAEcBTAFmAAAA9QAZAIQAAAAAAAAAAAAAAAAAAAABEAAAAAAAAAAAAAAAAAAAAABAAADmMgHg/+D/4AHgACAAAAABAAAAAAAAAAAAAAAgAAAAAAACAAAAAwAAABQAAwABAAAAFAAEAEAAAAAMAAgAAgAEAAEAIOYH5jL//f//AAAAAAAg5gDmMv/9//8AAf/jGgQZ2gADAAEAAAAAAAAAAAAAAAAAAQAB//8ADwABAAAAAAAAAAAAAgAANzkBAAAAAAEAAAAAAAAAAAACAAA3OQEAAAAAAQAAAAAAAAAAAAIAADc5AQAAAAAFABz//ALKAb4AGAAxAEoAXACkAAAlFAYHDgEnBiYnLgE1NDY3PgE3HgEXHgEXBxYGBw4BBy4BJy4BJz4BNz4BFzYWFx4BBycOAQcOAScGJicuATcmNjc+ATceARceARc3JgYHDgEHHwMTLgEnLgEnBSYGFwcWBicGJic3LgEHJgYXBxYGJwYmJzcuAQcmBhcHFgYnBiYnNy4BByYGFwceARceARceARcHNyc+ATc+ATc+ATcnNiYnAmUjHh9SLy5SHx4kJB4fUi4vUh4fIgE3ARwWGD0lIj8WGBoBARoYFj8iJT0YFhwBDAEXFxQ7ICE5FhUaAQEaFRY5ISA7FBcXAYIHDgQGBQEBHAEsAQEFBgQPBv3jAgYBAQEGAwQEAQEBBAQDBgEBAQYCBQQBAQEDBQIGAQEBBgMEBAEBAQQEAwYBAQEIBgMIAgMDAQEzAQEDAwIIAwYHAQEBBgLdL1EgHSUBASUdIFEvLlMdICIBASIgHVMuASI/FhgaAQEaGBY/IiU9GBYcAQEcFhg9JQEhORYVGgEBGhUWOSEgOhUWGAEBGBYVOiChAQkGCBELlAF2AQENCRMGCAcBAQEHA0cBBAEBBAFHAwcBAQcDRwEEAQEEAUcDBwEBBwNHAQQBAQQBRwMHAQEHA1oGCgMEBgYDDgegAZ4JDAUECAIFCAhYBQUBAAAEAAAAAAIAAaAAGABDAFwAYQAANxQWFx4BMzI2Nz4BNTQmJy4BIyIGBw4BFSUjLgEnLgErASIGBw4BByMiBgcOARURFBYXHgEzITI2Nz4BNRE0JicuASMDIiYnLgE1NDY3PgEzMhYXHgEVFAYHDgEjNyM1MxWYEA4PJRYWJQ8OEBAODyUWFiUPDhABSHADBwUFEAyADBAFBQcDcAcLBQQFBQQFCwcBwAcLBQQFBQQFCwfgHTQTFBYWFBM0HR00ExQWFhQTNB3gQECwFiUPDhAQDg8lFhYlDw4QEA4PJRawDBcJCQsLCQkXDAUEBQsH/uAHCwUEBQUEBQsHASAHCwUEBf7CFhQTNB0dNBMUFhYUEzQdHTQTFBbeICAAAAMAAAAAAgABwAADAAcACwAAEzcRBwERJxElEQcRAKCgAWCgAUCAAYBA/oBAAYD+gDUBgAv+gDMBgAAAAAQAAAAAAgABwAAIAA0AEgAXAAABJwcRNxc3EQcnFxEnEQc3EQcRAQcRNxEBUKCwsKCwsJCAgKCAgAHAgIABgEBA/oBAQEABgEAXM/7FMwE7LS7+xC4BPP7sLgE8Lv7EAAEAIAAAAeABsAAxAAAlLgExMDY3MjY3NiYnPgEnLgEjIgYHBhYXDgEXHgEzHgExMAYHDgEHDgEVITQmJy4BJwE3CAMiBgcLAgIDCAEEBwcpLS0pBwcEAQgDAgILBwYiAwgOOBwcKwHAKxwcOA6BAR8rIA8KChUGBysYFyUlFxgrBwYVCgoPICsfAQIXEhEtGBgtERIXAgAAAgAg/+AB4AHgACEAJQAAAREhIiYnLgE1NDY3PgEzIREhIgYHDgEVERQWFx4BMyERIwEhFSEBwP6wChEHBggIBgcRCgEw/sANFwkJCgoJCRcNAYAg/sABIP7gAaD+YAgGBxEKChEHBggBgAoJCBgN/oANFwkJCgHA/qAgAAIAAP/gAeABwAA4AGUAAAEhFSMiBh0BFBY7ARUjIgYdARQWOwEVIyIGHQEUFjsBFSMiBh0BFBY7ARUhMjY3PgE1ETQmJy4BIwEjNTMyNj0BNCYrATUzMjY9ATQmKwE1MzI2PQE0JisBNTMyNj0BNCYrATUzEQHB/n8vBgsLBi8vBgsLBi8vBgsLBi8vBgsLBi8BgQcLBAQFBQQECwf+30ARBwgIBxERBwgIBxERBwgIBxERBwgIBxFAAcBACAcgBwogCAcgBwogCAcgBwogCAcgBwpABQUEDAcBoAcLBAQF/kAgCgcgBwggCgcgBwggCgcgBwggCgcgBwgg/mAAAAACAAD/4AIAAeAAEQBfAAABIgYHDgEdATMVMxE0JicuASMjIgYdARQGIyImPQE0JiMiBh0BFAYjIiY9ATQmIyIGHQEUBiMiJj0BNCYjIgYdARQWFx4BFx4BFx4BFREzETQ2Nz4BNz4BNz4BPQE0JiMBsBEdCwoNQGANCgsdEeAHCQkHBwkJBwcJCQcHCQkHBwkJBwcJCQcHCQQEBAkGBg0GBQdgBwUGDQYGCQQEBAkHAeANCgsdEfDAAbARHQsKDQkHcAMFBQNwBwkJB3ADBQUDcAcJCQdwAwUFA3AHCQkHkAUJBAMHBAULBwgUDf8AAQANFAgHCwUEBwMECQWQBwkAAgAA/+ACAAGvADEAeAAAJS4BMTA2NzI2NzYmJzQ2Jy4BIyIGBwYWFQ4BFx4BMx4BMTAGBw4BBw4BFSE0JicuAScHPgE3PgE3LgEnLgEnLgEnLgEnPAE1PgE3JjQ3PgE3PgE3PgE3LgEnLgEjIgYHBhYVDgEXHgEzHgExMAYHDgEHDgEVMz4BNwFvBwIdBQYJAgIDBgMFBiMnJyMGBQMGAwICCQYFHQIHDDAYGCUBgCUYGDAMwwgSCQoSCAMGAwMFAgYJAwICAQEDAwECAwsLBQoFBgwGAQgKCR8YJyMGBQMGAwICCQYFHQIHDDAYGCWlAgMCTQEbJBwMCQkRBgUlFBQfHxQUJQUGEQkJDBwkGwEBFA8PJhQUJg8PFAEIBQkFBAcDBQkGBgwHBQ0IBAkEBQkEBgsGCBkODhwNBQgEAwYCDBkKCg0fFBQlBQYRCQkMHCQbAQEUDw8mFAECAgAAAAEAAAABAABQIxiEXw889QALAgAAAAAA0BWtcwAAAADQFa1zAAD/4ALKAeAAAAAIAAIAAAAAAAAAAQAAAeD/4AAAAusAAAAAAsoAAQAAAAAAAAAAAAAAAAAAAA0AAAAAAAAAAAAAAAABAAAAAusAHAIAAAACAAAAAgAAAAIAACACAAAgAgAAAAIAAAACAAAAAAAAAAAKABQAHgEgAa4BzAH8AkgChgMGA4YENgABAAAADQClAAUAAAAAAAIAAAAAAAAAAAAAAAAAAAAAAAAADgCuAAEAAAAAAAEAGgAAAAEAAAAAAAIADgBxAAEAAAAAAAMAGgAwAAEAAAAAAAQAGgB/AAEAAAAAAAUAFgAaAAEAAAAAAAYADQBKAAEAAAAAAAoANACZAAMAAQQJAAEAGgAAAAMAAQQJAAIADgBxAAMAAQQJAAMAGgAwAAMAAQQJAAQAGgB/AAMAAQQJAAUAFgAaAAMAAQQJAAYAGgBXAAMAAQQJAAoANACZAHAAbABhAHQAZQBmAHUAbAAtAGkAYwBvAG4AVgBlAHIAcwBpAG8AbgAgADEALgAwAHAAbABhAHQAZQBmAHUAbAAtAGkAYwBvAG5wbGF0ZWZ1bC1pY29uAHAAbABhAHQAZQBmAHUAbAAtAGkAYwBvAG4AUgBlAGcAdQBsAGEAcgBwAGwAYQB0AGUAZgB1AGwALQBpAGMAbwBuAEYAbwBuAHQAIABnAGUAbgBlAHIAYQB0AGUAZAAgAGIAeQAgAEkAYwBvAE0AbwBvAG4ALgAAAwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==) format('truetype'),
     url(data:application/font-woff;charset=utf-8;base64,d09GRk9UVE8AAAoAAAoAAAAACbgAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABDRkYgAAAA9AAABhoAAAYa8ljx5U9TLzIAAAcQAAAAYAAAAGAIIvzoY21hcAAAB3AAAABUAAAAVOZt5pBnYXNwAAAHxAAAAAgAAAAIAAAAEGhlYWQAAAfMAAAANgAAADYCFJujaGhlYQAACAQAAAAkAAAAJASsAtlobXR4AAAIKAAAADQAAAA0E+sAXG1heHAAAAhcAAAABgAAAAYADVAAbmFtZQAACGQAAAF7AAABe7qVvRJwb3N0AAAJ4AAAACAAAAAgAAMAAAEABAQAAQEBDnBsYXRlZnVsLWljb24AAQIAAQA6+BwC+BsD+BgEHgoAGVP/i4seCgAZU/+LiwwHi2v5f/h0BR0AAAC4Dx0AAAC9ER0AAAAJHQAABhESAA4BAQ4bHR8iJywxNjtARUpPcGxhdGVmdWwtaWNvbnBsYXRlZnVsLWljb251MHUxdTIwdUU2MDB1RTYwMXVFNjAydUU2MDN1RTYwNHVFNjA1dUU2MDZ1RTYwN3VFNjMyAAACAYkACwANAgABAAQABwAKAA0BKgG8AegCOwKKAtcDxwSMBTb8lA78lA78lA77lA73f/j593EVi/sQJyb7EYv7EIsm8Iv3EIv3EPDw9xCL9xGL7yaL+xAIVYsViy0/PyyLLYs/14vpi+nX2OmL6ovXPostCH6LFYs0RUQzizSLRNKL4ovi0tLii+OL0USLNAj3F/c2FXaLe3SLcAiL+ymoi4v7C7iLi/egBYumeqJ3iwj8sIsVhouIhouGCItFBYuJh4iGi4eLh46LjQiL0QWLkIeQh4uGi4eGi4YIi0UFi4mHiIeLhouHjouNCIvRBYuQiJCGi4aLiIaLhgiLRQWLiYeIhouHi4eOi40Ii9EFi5CHkIeLhouHhouGCIsyBYuCkoaShZWDlYGLdQiL+zO9i4v3MwWLoZWVlZOSkZGQi5QIi+QFi5CIkIaLCA73LPdEFYtSulzEi8SLurqLxIvEXLpSi1KLXFyLUgj33PdEFfsEiwWDq4Ora4sI+xSLBWuLg2uDawj7BIsFeYt9fYt5CIv7tAWLeZl9nYsI+FSLBZ2LmZmLnQiL97QFi519mXmLCPt0+9IVPYtLy4vZi9nLy9mL2YvLS4s9iz1LSz2LCPd093IVS4uLq8uLi2sFDov4FBX3NMuL/BT7NEsF9/T4FBWL/BT7NMCL+BQF99SWFYv8FPsUWIv4FAUO9+T4FBX7NMv7REuL/BT3RMv3NEv3RMuL+BT7REsF+ySiFfcUWIv7z/sUvov3zwX7NF4V9xS5i/vQ+xRdi/fQBfhU+6gV+xRdi/fQ9xS5i/vQBQ73y/cVFYCMi6qLi4uLrKuStp6Llrl4m4yco/cJ+wyL+wyLo/sJjHp4e5ZdnouSYKxri4uLi4tsgIoIZ4X7GVCLSwj4VIsFi8v7GcZnkQgO+FT4NBWL/DT75IsFcIt2oIumi6agoKaLCPfEi4v4FPvUiwVoi25ui2gIi/wUBYtoqG6uiwj4FIuL+FRriwX71Pv0Ffe0i4tr+7SLBQ74VfhUFfwVi4tLXIsFgouDhYuCCItrBYuCk4OUiwi6i4trXIsFgouDhYuCCItrBYuCk4OUiwi6i4trXIsFgouDhYuCCItrBYuCk4OUiwi6i4trXIsFgouDhYuCCItrBYuCk4OUiwi6i4tL+BWLBZ2LmJqLnQiL+DQFi51+mHmLCPu1/FQVS4uLq5yLBZSLkZOLlAiLqwWLlIWRgosIeouLq5yLBZSLkZOLlAiLqwWLlIWRgosIeouLq5yLBZSLkZOLlAiLqwWLlIWRgosIeouLq5yLBZSLkZOLlAiLqwWLlIWRgosIeouLq8uLi/w0BQ74RPh0FV+LZ2eLXwiL+4TLi4v7VOuLi/hEBYu3Z69fiwj7dIsVgouEhIuCCIv7BAWLh4SHgouCi4SPi48Ii/cEBYuUhJKCi4KLhISLggiL+wQFi4eEh4KLgouEj4uPCIv3BAWLlISSgouCi4SEi4IIi/sEBYuHhIeCi4KLhI+LjwiL9wQFi5SEkoKLgouEhIuCCIv7JAWLfZiDmYGcfp98i2cIi/uU64uL95QFi6+fmpyYmZWYk4uZCIv3JAWLlISSgosIDvgD2BWCjYuli4uLi6emkbCbi5Wye5mLmaDuJIski6Aoi317fZVkm4uRZqdwi4uLi4txgokIbIb7BlqLVAj4FIsFi8L7BrxskAj7V4MVoZimmKGSg5eCmoadg5GFlIeWh5aJmIyWjJOOk46SiaKJuamsl5ialJyRiKt7sUuLCCSLoCiLfXt9lWSbi5Fmp3CLi4uLi3GCiWyG+wZai1QI9zmLBY2NjoyNjQgO+JQU+JQViwwKAAAAAwIAAZAABQAAAUwBZgAAAEcBTAFmAAAA9QAZAIQAAAAAAAAAAAAAAAAAAAABEAAAAAAAAAAAAAAAAAAAAABAAADmMgHg/+D/4AHgACAAAAABAAAAAAAAAAAAAAAgAAAAAAACAAAAAwAAABQAAwABAAAAFAAEAEAAAAAMAAgAAgAEAAEAIOYH5jL//f//AAAAAAAg5gDmMv/9//8AAf/jGgQZ2gADAAEAAAAAAAAAAAAAAAAAAQAB//8ADwABAAAAAQAAEwIpYF8PPPUACwIAAAAAANAVrXMAAAAA0BWtcwAA/+ACygHgAAAACAACAAAAAAAAAAEAAAHg/+AAAALrAAAAAALKAAEAAAAAAAAAAAAAAAAAAAANAAAAAAAAAAAAAAAAAQAAAALrABwCAAAAAgAAAAIAAAACAAAgAgAAIAIAAAACAAAAAgAAAAAAUAAADQAAAAAADgCuAAEAAAAAAAEAGgAAAAEAAAAAAAIADgBxAAEAAAAAAAMAGgAwAAEAAAAAAAQAGgB/AAEAAAAAAAUAFgAaAAEAAAAAAAYADQBKAAEAAAAAAAoANACZAAMAAQQJAAEAGgAAAAMAAQQJAAIADgBxAAMAAQQJAAMAGgAwAAMAAQQJAAQAGgB/AAMAAQQJAAUAFgAaAAMAAQQJAAYAGgBXAAMAAQQJAAoANACZAHAAbABhAHQAZQBmAHUAbAAtAGkAYwBvAG4AVgBlAHIAcwBpAG8AbgAgADEALgAwAHAAbABhAHQAZQBmAHUAbAAtAGkAYwBvAG5wbGF0ZWZ1bC1pY29uAHAAbABhAHQAZQBmAHUAbAAtAGkAYwBvAG4AUgBlAGcAdQBsAGEAcgBwAGwAYQB0AGUAZgB1AGwALQBpAGMAbwBuAEYAbwBuAHQAIABnAGUAbgBlAHIAYQB0AGUAZAAgAGIAeQAgAEkAYwBvAE0AbwBvAG4ALgAAAwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==) format('woff');
  font-weight: normal;
  font-style: normal;
}

.plateful {
  font-family: 'plateful-icon';
  speak: none;

  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1.0;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.plateful-dish-logo:before {

  content: "\e600";
}
.plateful-camera:before {
  content: "\e601";
}
.plateful-book:before {
  content: "\e605";
}
.plateful-notebook:before {
  content: "\e606";
}
.plateful-map:before {
  content: "\e602";
}
.plateful-map2:before {
  content: "\e603";
}
.plateful-user:before {
  content: "\e604";
}
.plateful-users:before {
  content: "\e632";
}
.plateful-food:before {
  content: "\e607";
}


body {
  background-color: gray;
}

.card, .list-inset {
  margin: 5px 5px;
}

.bg-grey { background-color: #f1f1f1; background: #f1f1f1;}
.bg-white { background-color: #ffffff; background: #ffffff; }
.bg-yellow { background-color: yellow; background: yellow; }
.bg-orange { background-color: rgb(241, 204, 9); background: rgb(241, 204, 9); }

.item-divider{
  background-color: #f1f1f1;
  background: #f1f1f1;
}

a.menu-card {
  width: 100%;
  margin: 0;
  padding:5px;
  float: left;
  text-decoration: none;
}
a.menu-card .menu-card-content {
  min-height: 270px;
  background-color: #ffffff;
  background: #ffffff;
  border-style: solid;
  border-color:rgba(0,0,0,.12);
  border-width: 0px 1px 1px 0px;
  // border: 1px solid rgba(0,0,0,.12);
  // box-shadow: 0px 2px 4px rgba(0,0,0,.3);
  // -webkit-box-shadow: 0px 2px 4px rgba(0,0,0,.3);
}
a.menu-card img {
  width: 100%;
  position:relative;
  margin: 0px;
  // margin-right: -8px;
  padding: 0;
}
a.menu-card .menu-card-footer{
  color: #000000;
  padding: 5px;
}
a.menu-card .item.item-divider{
  color: #000000;
  background-color: #fff;
  padding: 5px;
  text-align: center;
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.bin {
  min-height: 150px;
  min-width: 150px;
  float: left;
  border: 1px solid red;
  padding: 20px;
}
.item-drag {
  min-height: 150px;
  min-width: 150px;
  background: blue;
  float: right;
}
.drag {
  opacity: 0.5;
}
.over {
  background: red;
}

.circle-container {
  margin-top:30%;
  width:100%;
  background-color: #DDD;
  position:absolute;
}
.circle-container .circle {
  float: left;
  width: 80px;
  height: 80px;
  // margin:10px;
  position: absolute;
  text-align: center;
  vertical-align: center;
  font-size:50px;
  // background-color:white;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  box-shadow: 0 2px 4px rgba(0,0,0,.3);
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.3);


}
.circle-container .circle:nth-child(1) {
  left:10px;
  top: 20px;
}
.circle-container .circle:nth-child(2) {
  left:39%;
}
.circle-container .circle:nth-child(3) {
  right:10px;
  top: 20px;
}
.circle-container .circle i {
  margin:0;
  margin-top:18%;
}
.circle-container .circle p {
  display: block;
  margin-top:20px;
  font-size:12px;
}
.circle-container .circle.bg-orange i {
  color:white;
}

.pullright {
  float: right;
}



.text-left {
  float: left;
  text-align: left;
}

.text-right {
  float: right;
  text-align: right;
}


.menu-banner {
  position:relative;
}

.menu-banner-right {
  width:50%;
  height:200px;
  float: left;

}
.menu-banner-right {
  width:50%;
  height:200px;
  float: left;

}
.borderless {
  border-width: 0px;
}

#map {
  width: 100%;
  height: 100%;
}
#mapper {
  width: 50%;
  height: 50%;
}
#nearbyMap {
  width: 100%;
  height: 100%;
}
#findMap {
  width: 100%;
  height: 100%;
}
#map_canvas {
  width: 100%;
  height: 150px;
  margin:0px;
  position: relative;
}

.scroll {
  height: 100%;
}


.angular-google-map-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

input.ion-google-place[readonly]{
    background-color: transparent;
    padding: 5px;

}


// .angular-google-map-container { height: 400px; width:50%; }

//
// .item.item-complex, a.item-complex, .item.item-content, .item-content {
//   padding: 0px;
// }


.bar {
  box-shadow: 0px 2px 4px rgba(0,0,0,.3);
  -webkit-box-shadow: 0px 2px 4px rgba(0,0,0,.3);
}


// Facebook Style
$facebook:                       #3B5998 !default;
$button-facebook-bg:             $facebook !default;
$button-facebook-text:           #fff !default;
$button-facebook-border:         darken($facebook, 15%) !default;
$button-facebook-active-bg:      darken($facebook, 15%) !default;
$button-facebook-active-border:  darken($facebook, 15%) !default;

.button-facebook-style {
  @include button-style($button-facebook-bg, $button-facebook-border, $button-facebook-active-bg, $button-facebook-active-border, $button-facebook-text);
  @include button-clear($button-facebook-bg);
  @include button-outline($button-facebook-bg);
}

.facebook-style, a.facebook-style {
  color: $facebook;
}
.facebook-style-bg {
  background-color: $facebook;
}
.facebook-style-border {
  border-color: $button-facebook-border;
}

