ion-view(title="{{vm.menu.name}}")
  ion-content.bg-grey
    div.button-bar
      a.button.button-assertive.icon.ion-ios7-telephone(ng-click="callBusiness()")
      a.button.button-assertive.icon.ion-ios7-camera(ui-sref="tab.review-choose-item({menuId: vm.menu_id})")
      a.button.button-assertive.icon.ion-ios7-checkmark(ng-click="createReview()")
      a.button.button-assertive.icon.ion-bookmark(ng-click="bookmarkItem()")

    ion-list
      ion-item
        div.menu-banner
          div.menu-banner-right
            h2 {{vm.menu.name}}
            h4 {{vm.menu.address}}
            h4 {{vm.menu.city}}, {{vm.menu.state}}
            i.icon.ion-navigate(style="color:grey;") &nbsp{{vm.menu.distance}}mi
          div.menu-banner-left
            iframe(src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d6306.533204574925!2d-122.4091305!3d37.78379139999996!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1406251064525" width="50%" height="200px" frameborder="0" style="border:0")

      div.item-divider
      a.menu-card(ng-repeat="item in vm.items" href="#/tab/items/item/{{item._id}}")
        div.menu-card-content
          img(src='{{item.image}}')
          div.menu-card-footer
            div {{item.name}}
            div.text-left.assertive ★★★★
            div.text-right.energized (250)
            i.text-right.icon.ion-navigate(style="color:grey;")
            br
            br
