ion-view(title="Plateful")
  ion-content(ng-fade-in ng-hide)
    #splash-page
      #plateful-logo
      button.button.button-block.assertive(ui-sref="tab.settings") Sign In
      a.assertive(ui-sref="tab.items") Start browsing items
