ion-view(title="Create Review")
  ion-content
    ion-list
      ion-item.item.item-thumbnail-left
        img(ng-src="{{createReviewView.item.image}}")
        h4 {{createReviewView.item.menu_name}}
        p {{createReviewView.item.name}}
      ion-item
        div.button-bar
          button.button.button-clear.button-icon.icon.ion-ios7-star(ng-repeat="btn in createReviewView.buttons" ng-click="createReviewView.setStarRating(btn)" ng-class="{'button-energized': createReviewView.rating >= btn}")
      label.item.item-input.item-floating-label.bg-white
        span.input-label Review
        textarea(ng-model="createReviewView.reviewText" placeholder="Review - optional" style="height:100px;")

    button.button.button-block.button-positive(ng-click="createReviewView.submitReview()") Create Review
