ion-view(hide-nav-bar="true")

  ion-header-bar.bar-positive.item-input-inset
      //- button.button.button-clear(ng-click="openModal()") Filter&nbsp&nbsp
      label.item-input-wrapper
        i.icon.ion-ios7-search.placeholder-icon
        form(ng-submit="reviewMenu.newSearch(reviewMenu.nearbyFilter)")
          input(type="search" placeholder="Search" ng-model="reviewMenu.nearbyFilter")
      //- a.button.button-clear(href="#/tab/nearby/map") Map

  ion-content.bg-grey
    div.list
      a.item(ng-repeat="menu in reviewMenu.menus | filter:reviewMenu.nearbyFilter" href="#/tab/review/choose-item/{{menu.id}}")
        //- img(src='{{business.image_url}}')
        h2 {{menu.name}}
        h4.text-left {{menu.address + " - " + menu.city}}
        span.text-right
          i.icon.ion-navigate(style="color:grey;")&nbsp
          span {{menu.dist}} mi
