ion-view(title="Review")
  ion-content
    ion-list
      ion-item(ng-repeat="business in businesses" href="#/tab/review/choose-item/{{business.id}}")
        h4 {{business.name}}

      //- ion-header-bar.bar-positive(title="align-center")
      //-   h1.title Review
      //- ion-content.bg-grey
      //-   ion-list
      //-     label.item.item-input.item-floating-label.bg-white
      //-       span.input-label Comment
      //-       textarea(placeholder="Comment" style="height:100px;")
      //-     ion-item
      //-       //- img#myImage(src="")
      //-       p {{src}}
      //-       //- img(ng-src="src")
      //-       img(ng-src="{{src}}")
      //-
      //-       //- p {{error}}
      //-   div.circle-container
      //-     div.circle.fx-fade-up-big.bg-white(ng-class="{'bg-orange': collected}" ng-click="collected = true")
      //-       i.ion.ion-ios7-checkmark
      //-       p Collect
      //-     div.circle.bg-white(ng-click="rateModal.show()")
      //-       i.ion.ion-ios7-star
      //-       p Rate
      //-     div.circle.fx-fade-up-big.bg-white(ng-click="takePhoto()")
      //-       i.ion.ion-ios7-camera
      //-       p Photo
