ion-view(title="FB Login")
  ion-content
    .row
      button.button.button-positive(onclick="login()") Login with Facebook
    .row
      button.button.button-positive(onclick="logout()") Logout from Facebook
