div.modal
  ion-header-bar.bar-positive
    h1.title Sign-Up
    button.button.button-clear(ng-click="vm.signupModal.hide()") cancel
  ion-content
    form(ng-submit="signup()")
      ion-list
        label.item.item-input
          span.input-label Username
          input(type="text" ng-model="vm.username")

        label.item.item-input
          span.input-label Email
          input(type="email" ng-model="vm.email")

        label.item.item-input
          span.input-label Password
          input(type="password" ng-model="vm.password")

      button.button.button-positive.button-block(ng-click="vm.signup(); vm.signupModal.hide()") Sign-Up
