div.modal

  ion-nav-bar(type='bar-positive',
              class="bar bar-stable",
              animation='nav-title-slide-ios7',
              back-button-type='button-icon',
              back-button-icon='ion-chevron-left')
    ion-nav-back-button(class="button-clear")

  ion-nav-view(animation="slide-left-right", name='account')
  //- ion-header-bar.bar-positive
  //-   h1.title Sign-Up
  //-   button.button.button-clear(ng-click="vm.loginSignupModal.hide()") cancel
  //- ion-content
  //-   .row
  //-     .col-6
  //-       img#userPic
  //-     .col-6#userName
  //-   .row.
  //-     {{ login.status }}
  //-   .row
  //-     button.button.button-block.positive(href="#/tab/settings/modal/") Sign-Up with Plateful
  //-   .row
  //-     button.button.button-block.positive() Login with Plateful
  //-   .row
  //-     button.button.button-block.button-facebook-style() Login with Facebook
  //-   .row
      //- button.button.button-block.button-facebook-style() Logout from Facebook
