div.modal
  ion-header-bar.bar-positive
    h1.title Loginnn
    button.button.button-clear(ng-click="login.closeModal()") cancel
  ion-content
    form(ng-submit="login()")
      ion-list
        label.item.item-input
          span.input-label Email
          //- Change to email type later
          input(type="text" ng-model="login.username")

        label.item.item-input
          span.input-label Password
          input(type="password" ng-model="login.password")

      button.button.button-positive.button-block(ng-click="login.nativeLogin(); login.closeModal()") Login
