ion-view(title="Login")
  ion-content
    .row
      .col-6
        img#userPic
      .col-6#userName
    .row
      button.button.button-block.positive(ng-click="login.nativeLogin()") Login with Clurtch
    .row
      button.button.button-block.positive(ng-click="login.fbLoginFlow()" ng-show="login.fbStatus!=='connected'") Login with Facebook
    .row
      button.button.button-block.positive(ng-click="login.fbLogout()" ng-show="login.fbStatus==='connected'") Logout from Facebook
    .row
      button.button.button-block.positive(ng-click="login.fbGetInfo()") GetInfo from Facebook
