ion-view(title="FB Login")
  ion-content
    .row
      button.button.button-block.positive(ng-click="vm.openModal()") Login
    .row
      button.button.button-block.positive(ng-click="vm.signupModal.show()") Sign-Up