div.modal
  ion-header-bar.bar-positive
    h1.title Sign-Up
    button.button.button-clear(ng-click="login.signupModal.hide()") cancel
  ion-content
    form(ng-submit="login.nativeSignup()")
      ion-list
        label.item.item-input
          span.input-label Email
          //- Change to email type later
          input(type="text" ng-model="login.username")

        label.item.item-input
          span.input-label Password
          input(type="password" ng-model="login.password")
      button.button.button-block.button-positive(ng-click="login.signupModal.hide()") Sign-Up
    .row
      .col.col-center(style="text-align: center") - or -
    .row
      button.button.button-block.button-facebook-style(ng-click="login.fbLogin(); login.signupModal.hide()") Facebook Connect
