ion-view(title="List")
  ion-content.bg-grey
    h1.
      No Bookmarks or Collections yet.
    h2.
      Get Started!
    button.button.button-block.positive(ui-sref="tab.items") Search for Items
    button.button.button-block.positive(ui-sref="tab.menus") Search Menus
