ion-view(title="Select Your Menu")
  .bar.bar-subheader.bar-stable.item-input-inset
    label.item-input-wrapper
      i.icon.ion-ios7-search.placeholder-icon
      form(ng-submit="reviewMenu.newSearch(reviewMenu.nearbyFilter)")
        input(type="search" placeholder="Search" ng-model="reviewMenu.nearbyFilter")
  ion-content.bg-grey.has-subheader
    div.list
      a.item(ng-repeat="menu in reviewMenu.menus | filter:reviewMenu.nearbyFilter" href="#/tab/review/choose-item/{{menu._id}}")
        //- img(src='{{business.image_url}}')
        h2 {{menu.name}}
        h4.text-left {{menu.address + " - " + menu.city}}
        span.text-right
          i.icon.ion-navigate(style="color:grey;") &nbsp
          span {{menu.dist}} mi
