ion-view(title="Account")
  ion-content
    ion-list
      label.item.item-input.item-floating-label
        span.input-label First Name
        input(type="text" placeholder="First Name" ng-model="account.user.first")
      label.item.item-input.item-floating-label
        span.input-label Last Name
        input(type="text" placeholder="Last Name" ng-model="account.user.last")
      label.item.item-input.item-floating-label
        span.input-label Email
        input(type="text" placeholder="Email" ng-model="account.user.email")
      label.item.item-input.item-floating-label
        span.input-label Phone
        input(type="tel" placeholder="Phone" ng-model="account.user.phone")
      button.button.button-assertive.button-block(ng-click="account.update()") Update
