ion-view(title="{{vm.item.name}}" has-subheader="true")
  ion-nav-buttons(side="right" ng-hide="vm.showReviews")
    button.button.button-clear.icon.ion-ios7-camera(ng-click="vm.showReviews = true")
  ion-nav-buttons(side="right" ng-show="vm.showReviews")
    button.button.button-clear.icon.ion-ios7-list(ng-click="vm.showReviews = false")
  ion-content
    div.button-bar
      a.button.button-energized.icon.ion-ios7-bookmarks
      a.button.button-energized.icon.ion-ios7-camera(ng-click="vm.reviewItem()")
      a.button.button-energized.icon.ion-ios7-checkmark(ng-click="vm.collectItem()")
      a.button.button-energized.icon.ion-bookmark(ng-click="vm.bookmarkItem()")
    div.list
      img.full-image(src='{{vm.item.photos.url}}')
      div
        h4.assertive {{vm.item.stars}}
          //- added pullright class
          div.pullright.energized {{vm.item.review_count}} reviews
      h5.dark {{vm.item.description}}
      h4 User Reviews
      div.list
        div.item.item-avatar(ng-repeat="review in vm.reviews")
          //- added borderless class on css
          //- p {{review}}
          img(src="{{review.image_url}}")
          //- h4 {{review.user_id}}
          div.item.item-text-wrap.borderless This shit is good so I clurtch it. Nom nom nom nom nom nom
