ion-view(title="{{menu.name}}")
  ion-content.bg-grey
    div.button-bar
      a.button.button-positive.icon.ion-ios7-telephone(ng-click="callBusiness()")
      a.button.button-positive.icon.ion-ios7-camera
      a.button.button-positive.icon.ion-ios7-checkmark(ng-click="createReview()")
      a.button.button-positive.icon.ion-bookmark(ng-click="bookmarkItem()")

    ion-list
      ion-item
        div.menu-banner
          div.menu-banner-right
            h2 {{menu.name}} Name
            h4 Location
            h4 {{menu.street_address + " " + menu.locality }}
            h4 {{menu.phone}}
            i.icon.ion-navigate(style="color:grey;") {{menu.dist}}m
          div.menu-banner-left
            iframe(src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d6306.533204574925!2d-122.4091305!3d37.78379139999996!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1406251064525" width="50%" height="200px" frameborder="0" style="border:0")

      div.item-divider
      a.menu-card(ng-repeat="item in images | filter:findFilter" href="#/tab/nearby/item/{{item.id}}")
        div.menu-card-content
          img(src='{{item}}')
          div.menu-card-footer
            div Menu Item Name
            div.text-left.assertive ★★★★
            div.text-right.energized (250)
            i.text-right.icon.ion-navigate(style="color:grey;")
            br
            br
