div(ng-repeat="item in items" style="width:50%; float:left")
  div.card
    div.item.item-divider {{item.name}}
    div.item.item-text-wrap
      img(src='{{item.image_url}}')
    div.item.item-divider {{item.stars}}
