div.row(ng-repeat="itemTuple in items")
  div.col.col-50(ng-repeat="item in itemTuple")
    div.card
      div.item.item-divider {{item.name}}
      div.item.item-text-wrap
        img(src='{{item.image_url}}')
      div.item.item-divider {{item.rating}}
