ion-header-bar(title="align-center")
  h1.title Review
ion-content.bg-grey
  div.circle-container
    div.circle.fx-fade-up-big(ng-click="collectModal.show()")
      i.ion.ion-ios7-checkmark
      p Collect
    div.circle(ng-click="rateModal.show()")
      i.ion.ion-ios7-star
      p Rate
    div.circle.fx-fade-up-big(ng-click="imageModal.show()")
      i.ion.ion-ios7-camera
      p Photo
