ion-view(title="Nearby" hide-nav-bar="true")
  ion-header-bar.bar-positive.item-input-inset
    label.item-input-wrapper
      i.icon.ion-ios7-search.placeholder-icon
      input(type="search" placeholder="Search" ng-model="search")
    button.button.button-clear(ng-click="newSearch(search)") Search
  ion-content
    div.list
      a.item(ng-repeat="business in businesses" href="#/tab/nearby/menu/{{business.factual_id}}")
        //- img(src='{{business.image_url}}')
        h2 {{business.name}}
        h4 {{business.address + " " + business.locality }}
        p {{business.tel}}
