ion-view(hide-nav-bar="true")

  ion-header-bar.bar-positive.item-input-inset
      button.button.button-clear(ng-click="openModal()") Filter&nbsp&nbsp
      label.item-input-wrapper
        i.icon.ion-ios7-search.placeholder-icon
        form(ng-submit="newSearch(nearbyFilter)")
          input(type="search" placeholder="Search" ng-model="nearbyFilter")
      a.button.button-clear(href="#/tab/nearby/map") Map

  ion-content.bg-grey
    div.list
      a.item(ng-repeat="business in businesses | filter:nearbyFilter" href="#/tab/nearby/menu/{{business.id}}")
        //- img(src='{{business.image_url}}')
        h2 {{business.name}}
        h4(ng-if="business.address") {{business.address + " " + business.locality }}
        h4(ng-if="business.street_address") {{business.street_address + " " + business.locality }}
        p(ng-if="business.phone"){{business.phone}}
        p(ng-if="business.tel") {{business.tel}}
