//- script(type='text/ng-template' id='filterModal.html')
//-   div.modal
//-     ion-content
//-       h2 Price
//-       div.button-bar
//-         a.button $
//-         a.button $$
//-         a.button $$$
//-         a.button $$$$
