ion-view(title="List")
  ion-content.bg-grey
    div.button-bar
      button.col.button.button-energized.button-small(ng-click="list.showBookmarks()") Bookmarks
      button.col.button.button-energized.button-small(ng-click="list.showCollection()") Collections

    ion-list(ng-show="list.viewCollection")

      a.menu-card(ng-repeat="item in list.collection")
        div.menu-card-content
          img(src="{{item.image}}")
          div.menu-card-footer
            div {{item.name | limitTo:30 }}
            div @{{item.menu_name | limitTo:30 }}
            div.text-left.assertive {{item.stars}}
            //- div.text-left.energized.pull-right (250)

            span.text-right
              i.icon.ion-navigate(style="color:grey;")&nbsp
              span {{item.dist}} mi


    ion-list(ng-show="list.viewBookmarks")

      a.menu-card(ng-repeat="item in list.bookmarks")
        div.menu-card-content
          img(src="{{item.image}}")
          div.menu-card-footer
            div {{item.name | limitTo:30 }}
            div @{{item.menu_name | limitTo:30 }}
            div.text-left.assertive {{item.stars}}
            //- div.text-left.energized.pull-right (250)

            span.text-right
              i.icon.ion-navigate(style="color:grey;")&nbsp
              span {{item.dist}} mi

    //- .row(ng-repeat="row in list.items | partition:2")
    //-   .col(ng-repeat="item in row")
    //-     .row
    //-       div(ng-back-img="{{item.image}}")
    //-     .row
    //-       div {{item.name}}<br/>{{item.menu_name}}
