ion-view(title="List")
  ion-content.bg-grey
    .row(style="padding:0;")
      button.col.button.button-facebook-style Bookmarks
      button.col.button.button-facebook-style Collections

    .row(ng-repeat="row in list.items | partition:2")
      .col(ng-repeat="item in row")
        .row {{item}}
          div {{item.name}} - {{item.menu_name}}
        .row item
          img(ng-src="{{item.image}}")
