ion-view(hide-nav-bar="true")

  ion-header-bar.bar-positive.item-input-inset
    button.button.button-clear(ng-click="vm.openModal()") Filter&nbsp&nbsp
    label.item-input-wrapper
      i.icon.ion-ios7-search.placeholder-icon
      form(ng-submit="vm.querySearch(vm.itemsFilter)")
        input(type="search" placeholder="Search" ng-model="vm.itemsFilter")
    a.button.button-clear(href="#/tab/items/map") Map

  ion-content.bg-grey
    ng-single-select(options="options")
    h4 {{vm.yolo}}
    a.menu-card(ng-repeat="item in vm.items | filter:vm.itemsFilter" href="#/tab/items/item/{{item.id}}" ng-click="vm.storeItem(item)")
      div.menu-card-content
        img(src='{{item.image_url}}')
        div.menu-card-footer
          div
            i.text-right.icon.ion-navigate(style="color:grey;") {{item.dist}}m
            {{item.name | limitTo:30 }}
          div.text-left.assertive {{item.stars}}
          div.text-right.energized (250)
          br
          br
