ion-view(hide-nav-bar="true")

  ion-header-bar.bar-positive.item-input-inset
    button.button.button-clear.ion-funnel(ng-click="vm.openModal()") &nbsp&nbsp
    label.item-input-wrapper
      i.icon.ion-ios7-search.placeholder-icon
      form(ng-submit="vm.querySearch(vm.itemsFilter)")
        input(type="search" placeholder="Search" ng-model="vm.itemsFilter")
    a.button.button-clear.ion-map(href="#/tab/items/map")

  ion-content.bg-grey
    ng-single-select(options="options")
    //- h4 {{vm.yolo}}
      //- ion-list
      //- div.item.item-light.item-image(ng-repeat="item in vm.items | filter:vm.itemsFilter" href="#/tab/items/item/{{item.id}}" ng-click="vm.storeItem(item)")
      //-   //- div.menu-card-content
      //-   img(src='{{item.image_url}}')
      //-   div.footer
      //-     div
      //-       {{item.name | limitTo:30 }}
      //-     div.text-left.assertive {{item.stars}}
      //-     div.text-right.energized (250)
      //-     br
      //-     br
    div#map(style="width:100px; height:100px; display:none;")
    div(class="list card" ng-repeat="item in vm.items | orderBy: 'dist' | filter:vm.itemsFilter" href="#/tab/items/item/{{item.id}}" ng-click="vm.storeItem(item)")

      //- div(class="item item-avatar")
      //-   h2 Pretty Hate Machine
      //-   p Nine Inch Nails


      div(class="item item-image")
        //- img(src='{{item.photos.url}}')
        img(ng-src="{{item.photos[0].getUrl({'maxWidth': 640, 'maxHeight': 640})}}")



      a(class="item" href="#")
        div {{item.name | limitTo:30 }}

        div.text-left.assertive {{item.stars}}
        //- div.text-left.assertive ★★★★★
        div.text-left.energized.pull-right (250)

        span.text-right
          i.icon.ion-navigate(style="color:grey;")&nbsp
          span {{item.dist}} mi
